<div class="container">
  <div class="profile">
    <%= image_tag "blog_profile_image.jpg", id: "profile-image", size: "267x200" %> 
    <h1>Garrett Forsyth</h1>
  </div>
</div>

<div class="main-container">
  <ol class="entries-list">
    <%= render @recent_entries %> 
  </ol>
</div>
