<div class="code-snippet-fields">
  <li>
    <%= f.label :language, class: "inline" %> 
    <%= f.select :language, options_for_select([
      "kotlin",
      "java",
      "groovy",
      "ruby",
      "html",
      "css",
      "scss",
      "javascript",
      "bash"
    ]), {}, class: "language-selector" %> 
  </li>
  <li>
    <%= f.label :code %> 
    <%= f.text_area :code, class: "code-field codemirror" %> 
  </li>
</div>
