// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$max-width: 1200px;
$accent-colour: #3bf54d;
$error-colour: #cc3712;

* {box-sizing: border-box}


.container {
  max-width: $max-width;
  margin: auto;  
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

#error_explanation {
  font-size: 1.4em;
  color: white;
  background-color: $error-colour;
  border-radius: 25px;
  padding: 30px 30px 30px 80px;
  li {
    margin: 0;
  }
}

.social {
  margin-bottom: 20px;
}

.CodeMirror {
  height: auto;
}

.pagination {
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social {
  table {
    width: 100%;
  }
  tr {
    width: 100%;
  }
  td {
    width: 20%;
    text-align: center;
  }
}

.header-icon {
  width: 30%;
}

.header-icon:hover {
  filter: invert(98%) sepia(56%) saturate(5465%) hue-rotate(53deg) brightness(102%) contrast(92%);
  transform: scale(1.1);
}



.codemirror {
  text-align: left;
}

.CodeMirror {
  border: 1px solid #eee;
  font-size: 1.3em;
  height: auto;
}


ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

label {
  display: block;
}

textarea {
  width: 100%;
}

textarea {
  width: 100%;
}

.profile {
  margin: auto;
  padding: 30px 0px 0px 10px;
  text-align: center;
  img {
    border: 2px solid black;
  }
}


.title-field {
  font-size: 1.6em;
}

.submit-btn {
  display: block;
  margin: auto;
  width: 500px;
  font-size: 1.2em;
}

#add-section-btn {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-title {
  text-align: center;
}

.main-container {
  max-width: $max-width;
  margin: auto;
}

.entry-show-title {
  text-align: center;
}

.entry-show-date {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

.entry-show-image {
  display: block;
  margin: auto;
}

.section-image {
  display: block;
  margin: auto;
}

.entries-list {
  margin: 0 auto;
  padding: 0;
}

.entry {
  display: grid;
  padding: 20px 5px 20px 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.6em 0.9em 1.1em 1fr;

  .entry-image {
    grid-column: 1/1;
    grid-row: 1/10;
    width: 100%;
    height: auto;
    margin: 20px 15px 20px 15px;
    padding-right: 50px;
  }

  .entry-title {
    grid-column: 2/3;
    grid-row: 1/1;
    padding-left: 10px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 1.5em;
  }

  .entry-date {
    grid-column: 2/3;
    grid-row: 2/2;
    padding-left: 10px;
    font-style: italic;
    font-size: 0.8em;
  }

  .entry-links {
    grid-column: 2/3;
    grid-row: 3/3;
    padding-left: 10px;
    font-style: italic;
    font-size: 1em;
  }

  .entry-abstract {
    padding-top: 20px;
    padding-left: 10px;
    grid-column: 2/3;
    grid-row: 4/10;
  }
}

@media only screen and (max-width: 800px) {
  .entry {
    display: block;
  }
}

@media only screen and (max-width: $max-width) {
  .entry-show-image {
    width: 100%;
  }

  .section-image {
    width: 100%;
  }
}

